<div>
    <h2> Find A Recipe and Create A List</h2>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter grocery items" id="txtSearch" [(ngModel)]="task"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="onclick()">
        <span><i class="bi bi-check"></i></span>
        </button>
                </div>
            </div>
        </div>
        <!-- <p>{{tasks | json}}</p> -->

    </div>
</div>

<ul class="list-group">
<li *ngFor="let task of tasks" class="list-group-item">
    <span>{{task.name}}</span>

</li>

</ul>
