



.imgStyle {
    height: 600px;
    background-color: white;
    padding: 0;

  }
  
  .imgDiv {
    height: 100%;
    width: 100%;
     background: url(../../assets/nordwood-themes-wtevVfGYwnM-unsplash.jpg) center
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 

    display: flex;
    justify-content: center;
    align-items: center;
  }


  
.rowRecipes {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rowimg {
  max-height: 200px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 7px;
}

.rowimg:hover 
{
  transform: scale(1.09);
  cursor: pointer;
}

.largeposter 
{
  max-height: 300px;
}

/* move the images with <- -> key  */
.rowposter::-webkit-scrollbar
{
  display: none;

}


